
.md-header__logo {
    width: 200px !important;
    height: 200px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.md-header__logo img {
    width: 200px !important;
    height: auto !important;
}

.md-header {
    height: auto !important;
}

.md-content {
  color: #000000;
}

.md-content h1 {
  color: #0d47a1; 
}

.md-content h2 {
  color: #1565c0;
}

.md-content h3 {
  color: #1976d2;
}

.md-content h4,
.md-content h5,
.md-content h6 {
  color: #1e88e5;
}
